<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" >
    <style>
        .fondo{background: #7777FF;} 
        .tableButton {width: 100%; height:100%; white-space: nowrap; margin-top: 0px; margin-bottom: 0px}
        .buttonCell {margin: 0; padding-top: 0px; padding-bottom: 0px}
        .buttonIndex {margin-top: 5px; margin-bottom: 5px;}
        h1 {padding: 30px;}
        table {
            table-layout: fixed;
            border-collapse: collapse;
            font-size: 16px;
            }
        td, th {
            white-space: nowrap;
            overflow: hidden;
            text-align:center;
            max-width: 40%;
            height: 29.01px;
            font-size: 16px;
          }
        tr.no_border_bottom td {
            border-bottom:0px;
        }
        button {
            font-size: 18px;
        }
        .icon {
            background: transparent;
            border: none !important;
            color: #606060;
        }
        .icon:hover {
            background: transparent;
            border: none !important;
            color: #000000;
            text-shadow:0 0 5px #ffffff;
        }
    </style>
  </head>
  <body>
        <header class="container-fluid fondo">
                <table border="0" width="100%" >
                    <tr>
                        <td width="5%">
                            <form action="/" method="GET">
                                <button class="icon" name="Inicio"><span title="Inicio" class="glyphicon glyphicon-home"></span></button>
                            </form>
                        </td>
                        <td style="vertical-align:middle;" valign="middle">
                            <p align="right" valign="middle"><b>Sesión iniciada como: {{ username }}</b></p>
                        </td>
                        <td class="buttonCell" width="10%">
                            <form action="/accounts/logout" method="GET">
                                <button class="icon"><span title="Cerrar sesión" class="glyphicon glyphicon-triangle-right"></span></button>
                            </form>
                        </td>
                    </tr>
                </table>
            </header>
            {% block content %}{% endblock %}

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  </body>
</html>