{% extends "base.html" %}
{% block content %}
		<h1  align="center">Collections list for project: {{ project }}</h1>
			<table align="center" cellpadding="2" class="table table-hover">
				<thead>
				<tr>
					<th>Collecting entity</th>
					<th>Settlement date</th>
					<th>Amount</th>
					<th>Exchange rate</th>
					<th>Rentas</th>
					<th>Municipales</th>
					<th>Impuesto al cheque</th>
					<th>Total taxes</th>
					<th>Source commision</th>
					<th>Commision (ARS)</th>
					<th>Taxes (ARS)</th>
					<th class="buttonCell">
						<form action="/nueva_collection/" method="POST">
							{% csrf_token %}
							<button class="icon" name='project' value={{ project.id }}><span title="Nueva collection" class="glyphicon glyphicon-plus"></span></button>
						</form>
					</th>
				</tr>
				</thead>
				<tbody>
				{% for c in collections %}
				<tr>
					<td>{{ c.getCEntity }}</td>
					<td>{{ c.getSettlementDate }}</td>
					<td>{{ c.getAmount|floatformat }}</td>
					<td>{{ c.getExchangeRate|floatformat }}</td>
					<td>{{ c.calculateRentas|floatformat }}</td>
					<td>{{ c.calculateMunicipales|floatformat }}</td>
					<td>{{ c.calculateImpuestoCheque|floatformat }}</td>
					<td>{{ c.calculateTotalTaxes|floatformat }}</td>
					<td>{{ c.getSourceCommision|floatformat }}</td>
					<td>{{ c.getCommisionARS|floatformat }}</td>
					<td>{{ c.getTaxesARS|floatformat }}</td>
					<td class="buttonCell">
						<form action="/modificar_collection/" method="POST">
							{% csrf_token %}
							<input type="hidden" name="project" value="{{ project.id }}">
							<button class="icon" name="collection" value="{{ c.id }}"><span title="Modificar" class="glyphicon glyphicon-pencil"></span></button>
						</form>
					</td>

				</tr>
				{% endfor %}
				</tbody>
			</table>
{% endblock %}