{% extends "base.html" %}
{% block content %}
        <h1 align='center'>Seleccione una opción</h1>
        <table align="center">
            <tr><td>
                <form action="/projects" method="GET">
                    <button class="btn btn-default">
                        <h2>Proyectos</h2>
                    </button>
                </form>
            </td></tr>
            <tr><td>
                <form action="/pricelists" method="GET">
                    <button class="btn btn-default">
                        <h2>Listas de precios</h2>
                    </button>
                </form>
            </td></tr>
            <tr><td>
                <form action="/dashboard" method="GET">
                    <button class="btn btn-default">
                        <h2>Dashboard</h2>
                    </button>
                </form>
            </td></tr>
            <tr><td>
                <form action="/summary" method="GET">
                    <button class="btn btn-default">
                        <h2>Summary</h2>
                    </button>
                </form>
            </td></tr>
        </table>
{% endblock %}