{% extends "base_forms.html" %}
{% block content %}
<h1 align='center'>Modificar proyecto: {{ project }}</h1>
<table width="50%" align="center">
   <tr>
      <td>
         <ul class="listForm" align="center">
            <form action="/modificar_proyecto/" method="POST">
               {% csrf_token %}
               <input type="hidden" name="project" value="{{ project.id }}">
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
                     </div>
                     <input type="text" name="name" value="{{ project.name }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group mb-3 input-group-lg">
                     <div class="input-group-prepend input-group-lg">
                        <label class="input-group-text" for="inputGroupSelect01">Client</label>
                     </div>
                     <select name="client" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                        {% for c in clients %}
                        {% if c == project.client %}
                        <option value= {{ c.id }} selected>{{ c }}</option>
                        {% else %}
                        <option value= {{ c.id }}>{{ c }}</option>
                        {% endif %}
                        {% endfor %}
                     </select>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Deal date</span>
                     </div>
                     <input type="text" name="dealDate" class="form-control" id="datepicker" aria-label="Large" aria-describedby="inputGroup-sizing-lg" style="height: 100%; font-size: 1.5rem" width="50%"  required/>
                     <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                     </script>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Sales price</span>
                     </div>
                     <input type="number" step="1" min="0.00" name="salesPrice" value="{{ project.getSalesPrice }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group mb-3 input-group-lg">
                     <div class="input-group-prepend input-group-lg">
                        <label class="input-group-text" for="inputGroupSelect01">Price list</label>
                     </div>
                     <select name="priceList" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                        {% for prl in priceLists %}
                        {% if prl == project.priceList %}
                        <option value= {{ prl.id }} selected>{{ prl }}</option>
                        {% else %}
                        <option value= {{ prl.id }}>{{ prl }}</option>
                        {% endif %}
                        {% endfor %}
                     </select>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Exchange rate</span>
                     </div>
                     <input type="number" step="0.001" min="0.00" value={{ project.exchangeRate }} name="exchangeRate" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group mb-3 input-group-lg">
                     <div class="input-group-prepend input-group-lg">
                        <label class="input-group-text" for="inputGroupSelect01">Company</label>
                     </div>
                     <select name="company" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                        {% for comp in companies %}
                        {% if comp == project.company %}
                        <option value= {{ comp.id }} selected>{{ comp }}</option>
                        {% else %}
                        <option value= {{ comp.id }}>{{ comp }}</option>
                        {% endif %}
                        {% endfor %}
                     </select>
                  </div>
               </li>
               <li id="submitButton">
                  <input type="submit" class="btn-lg btn-success" style="font-size: 2rem;background-color: #F60; border-color: #F90" value="Guardar">
               </li>
            </form>
            <li id="goBackButton">
               <form action="/projects" method="GET">
                  <button class="btn btn-default" style="font-size: 1.5rem">
                  Volver a Proyectos
                  </button>
               </form>
            </li>
         </ul>
      </td>
   </tr>
</table>
{% endblock %}