{% extends "base_forms.html" %}
{% block content %}
        <h1 align='center'>Modificar precio para: {{ priceListDetail.getResourceType }} </h1>
        <table width="50%" align="center">
            <tr><td>
        <ul class="listForm" align="center">
            <form action="/pricelists/detail/modificar/" method="POST">
                {% csrf_token %}
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Cost</span>
                            </div>
                            <input type="number" step="0.01" min="0.00" name="cost" value="{{ priceListDetail.getCost }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Sale sprint</span>
                            </div>
                            <input type="number" step="0.01" min="0.00" name="saleSprint" value="{{ priceListDetail.getSaleSprint }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Sale hour</span>
                            </div>
                            <input type="number" step="0.01" min="0.00" name="saleHour" value="{{ priceListDetail.getSaleHour }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <input type="hidden" name="priceListDetail" value="{{ priceListDetail.id }}">
                <li id="submitButton">
                    <input type="submit" class="btn-lg btn-success" style="font-size: 2rem;background-color: #F60; border-color: #F90" value="Guardar">
                </li>
            </form>
            <li id="goBackButton">
                <form action="/pricelists/detail/" method="POST">
                    {% csrf_token %}
                    <button name="priceList" value="{{ priceList.id }}" class="btn btn-default" style="font-size: 1.5rem">
                        Volver a la lista de precios
                    </button>
                </form>    
            </li>
        </ul>
            </td></tr>
        </table>
{% endblock %}
