{% extends "base_forms.html" %}
{% block content %}
        <script>
            function verify(){
                var startDate = document.getElementById("ed_starttimedate").value;
                var endDate = document.getElementById("ed_endtimedate").value;
                
                  if ((Date.parse(endDate) <= Date.parse(startDate))) {
                    alert("La fecha de fin debe ser mayor que la fecha de inicio");
                   document.getElementById("ed_endtimedate").value = "";
                     }
                  };
        </script>
        <h1 align='center'>Modificar: {{ prl }}</h1>
        <table width="50%" align="center"><tr><td>
        <ul class="listForm" align="center">
            <form action="/pricelists/modificar/" method="POST">
                {% csrf_token %}
                <input type="hidden" name="priceList" value="{{ prl.id }}">
                <li>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
                        </div>
                        <input type="text" name="name" value="{{ prl.getName }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Description</span>
                        </div>
                        <input type="text" name="description" value="{{ prl.getDescription }}" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                <div class="input-group mb-3 input-group-lg">
                    <div class="input-group-prepend input-group-lg">
                      <label class="input-group-text" for="inputGroupSelect01">Currency</label>
                    </div>
                    <select name="currency" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                        {% for c in currencies %}
                        {% if c == prl.getCurrency %}
                        <option value= {{ c.id }} selected>{{ c.getName }}</option>
                        {% else %}
                        <option value= {{ c.id }}>{{ c.getName }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
                </li>
                <li>
                    <table width="100%">
                        <tr>
                           <td>
                              <div class="input-group input-group-lg">
                                 <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">Start date</span>
                                 </div>
                                 <input type="text" name="startDate" class="form-control" id="ed_starttimedate" aria-label="Large" aria-describedby="inputGroup-sizing-lg" style="height: 100%; font-size: 1.5rem" width="50%"  required/>
                                 <script>
                                    $('#ed_starttimedate').datepicker({
                                        uiLibrary: 'bootstrap4'
                                    });
                                 </script>
                              </div>
                           </td>
                           <td>
                              <div class="input-group input-group-lg">
                                 <div class="input-group-prepend">
                                    <span class="input-group-text" id="inputGroup-sizing-lg">End date</span>
                                 </div>
                                 <input type="text" name="endDate" class="form-control" id="ed_endtimedate" aria-label="Large" aria-describedby="inputGroup-sizing-lg" style="height: 100%; font-size: 1.5rem" width="50%"  required/>
                                 <script>
                                    $('#ed_endtimedate').datepicker({
                                        uiLibrary: 'bootstrap4'
                                    });
                                 </script>
                              </div>
                           </td>
                        </tr>
                     </table>
                </li>
                <li id="submitButton">
                    <input type="submit" onclick="verify()" class="btn-lg btn-success" style="font-size: 2rem;background-color: #F60; border-color: #F90" value="Guardar">
                </li>
            </form>
            <li id="goBackButton">
                <form action="/pricelists" method="GET">
                    <button class="btn btn-default" style="font-size: 1.5rem">
                        Volver a listas de precios
                    </button>
                    </form>    
            </li>
        </ul>
        </td></tr></table>
{% endblock %}