{% extends "base_forms.html" %}
{% block content %}
<h1 align='center'>Nueva collection para el proyecto: {{ project }}</h1>
<table align="center" style="width: 50%;">
   <tr>
      <td>
         <ul class="listForm" align="center">
            <form action="/nueva_collection/" method="POST">
               {% csrf_token %}
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Collecting entity</span>
                     </div>
                     <input type="text" name="cEntity" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Settlement date</span>
                     </div>
                     <input type="text" name="settlementDate" class="form-control" id="datepicker" aria-label="Large" aria-describedby="inputGroup-sizing-lg" style="height: 100%; font-size: 1.5rem" width="50%"  required/>
                     <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                     </script>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Amount</span>
                     </div>
                     <input type="number" step="1" min="0.00" name="amount" value="0.00" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Exchange rate</span>
                     </div>
                     <input type="number" step="0.001" min="0.00" value="0.000" name="exchangeRate" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Source commision</span>
                     </div>
                     <input type="number" step="0.01" min="0.00" value="0.00" name="sourceCommision" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Commision ARS</span>
                     </div>
                     <input type="number" step="0.01" min="0.00" value="0.00" name="commisionARS" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Taxes ARS</span>
                     </div>
                     <input type="number" step="0.01" value="0.00" min="0.00" name="taxesARS" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <input type="hidden" name="project" value="{{ project.id }}">
               <li id="submitButton">
                  <input type="submit" class="btn-lg btn-success" style="font-size: 2rem" value="Añadir">
               </li>
            </form>
            <li id="goBackButton">
               <form action="/collections/" method="POST">
                  {% csrf_token %}
                  <button name="project" value="{{ project.id }}" class="btn btn-default" style="font-size: 1.5rem">
                  Volver al listado
                  </button>
               </form>
            </li>
         </ul>
      </td>
   </tr>
</table>
{% endblock %}