{% extends "base_forms.html" %}
{% block content %}
<h1 align='center'>Nuevo elemento</h1>
<table align="center" style="width: 50%;">
   <tr>
      <td>
         <ul class="listForm" align="center">
            <form action="/nuevo_laborbreakdown/" method="POST">
               {% csrf_token %}
               <li>
                  <div class="input-group mb-3 input-group-lg">
                     <div class="input-group-prepend input-group-lg">
                        <label class="input-group-text" for="inputGroupSelect01">Resource</label>
                     </div>
                     <select name="resource" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                        {% for r in resources %}
                        <option value= {{ r.id }}>{{ r }}</option>
                        {% endfor %}
                     </select>
                  </div>
               </li>
               <li>
                  <br>
                  <div class="input-group mb-3 input-group-lg">
                     <div class="input-group-prepend input-group-lg">
                        <label class="input-group-text" for="inputGroupSelect01">Costo de recurso</label>
                     </div>
                     <table width="84%" style="border:1px solid #CCC;">
                        <tr>
                           <td><input style="text-align: left" type="radio" name="facturacionEmpleado" value="1">Costo</td>
                           <td><input style="text-align: left" type="radio" name="facturacionEmpleado" value="2">Sale sprint</td>
                           <td><input style="text-align: left" type="radio" name="facturacionEmpleado" value="3">Sale hour</td>
                        </tr>
                     </table>
                  </div>
                  <br>
               </li>
               <li>
                  <div class="input-group input-group-lg">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-lg">Hours</span>
                     </div>
                     <input type="number" step="1" min="0" name="hoursWorked" value="0" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                  </div>
               </li>
               <li id="submitButton">
                    <input type="submit" class="btn-lg btn-success" style="font-size: 2rem" value="Añadir">
               </li>
            </form>
            <li id="goBackButton">
               <form action="/project_detail/" method="POST" required>
                  {% csrf_token %}
                  <button name="project" value="{{ project.id }}" class="btn btn-default" style="font-size: 1.5rem">
                  Volver a Labor breakdown
                  </button>
               </form>
            </li>
         </ul>
      </td>
   </tr>
</table>
{% endblock %}