{% extends "base_forms.html" %}
{% block content %}
        
        <h1 align='center'>Nuevo proyecto</h1>
        <table align="center" style="width: 50%;">
            <tr><td>
        <ul class="listForm" align="center">
            <form action="/nuevo_proyecto/" method="POST">
                {% csrf_token %}
                <li>
                    <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
                        </div>
                        <input type="text" name="name" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group mb-3 input-group-lg">
                        <div class="input-group-prepend input-group-lg">
                          <label class="input-group-text" for="inputGroupSelect01">Client</label>
                        </div>
                        <select name="client" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                        {% for c in clients %}
                            <option value= {{ c.id }}>{{ c }}</option>
                        {% endfor %}
                        </select>
                    </div>
                </li>
                <li>
                        <div class="input-group input-group-lg">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="inputGroup-sizing-lg">Deal date</span>
                                </div>
                                <input type="text" name="dealDate" class="form-control" id="datepicker" aria-label="Large" aria-describedby="inputGroup-sizing-lg" style="height: 100%; font-size: 1.5rem" width="50%"  required/>
                    <script>
                        $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4'
                        });
                    </script>
                            </div>
                    
                </li>
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Sales price</span>
                            </div>
                            <input type="number" step="1" min="0.00" name="salesPrice" value="0.00" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend input-group-lg">
                              <label class="input-group-text" for="inputGroupSelect01">Price list</label>
                            </div>
                            <select name="priceList" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                            {% for prl in priceLists %}
                                <option value= {{ prl.id }}>{{ prl }}</option>
                            {% endfor %}
                            </select>
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Exchange rate</span>
                            </div>
                            <input type="number" step="0.001" min="0.00" name="exchangeRate" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend input-group-lg">
                              <label class="input-group-text" for="inputGroupSelect01">Company</label>
                            </div>
                            <select name="company" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                            {% for comp in companies %}
                                <option value= {{ comp.id }}>{{ comp }}</option>
                            {% endfor %}
                            </select>
                    </div>
                </li>
                <li id="submitButton">
                    <input type="submit" class="btn-lg btn-success" style="font-size: 2rem" value="Crear">
                </li>
            </form>
            <li id="goBackButton">
                <form action="/projects" method="GET" required>
                    <button class="btn btn-default" style="font-size: 1.5rem">
                        Volver a Proyectos
                    </button>
                    </form>    
            </li>
        </ul>
    </td></tr>
    </table>
        {% endblock %}