{% extends "base_forms.html" %}
{% block content %}
<script>
        function verify(){
            var startDate = document.getElementById("ed_starttimedate").value;
            var endDate = document.getElementById("ed_endtimedate").value;
            
              if ((Date.parse(endDate) <= Date.parse(startDate))) {
                alert("La fecha de fin debe ser mayor que la fecha de inicio");
               document.getElementById("ed_endtimedate").value = "";
                 }
              };
     </script>
     <h1 align='center'>Nueva lista de precios</h1>
     <table align="center" style="width: 50%;">
        <tr>
           <td>
              <ul class="listForm" align="center">
                 <form action="/pricelists/new/" method="POST">
                    {% csrf_token %}
                    <li>
                       <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Name</span>
                            </div>
                            <input type="text" name="name" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                        </div>
                    </li>
                    <li>
                       <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Description</span>
                            </div>
                            <input type="text" name="description" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                        </div>
                    </li>
                    <li>
                       <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend input-group-lg">
                              <label class="input-group-text" for="inputGroupSelect01">Currency</label>
                            </div>
                            <select name="currency" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                            {% for c in currencies %}
                                <option value= {{ c.id }}>{{ c.getName }}</option>
                            {% endfor %}
                            </select>
                        </div>
                    </li>
                    <li>
                       <table width="100%">
                          <tr>
                             <td>
                                <div class="input-group input-group-lg">
                                   <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroup-sizing-lg">Start date</span>
                                   </div>
                                   <input type="text" name="startDate" class="form-control" id="ed_starttimedate" aria-label="Large" aria-describedby="inputGroup-sizing-lg" style="height: 100%; font-size: 1.5rem" width="50%"  required/>
                                   <script>
                                      $('#ed_starttimedate').datepicker({
                                          uiLibrary: 'bootstrap4'
                                      });
                                   </script>
                                </div>
                             </td>
                             <td>
                                <div class="input-group input-group-lg">
                                   <div class="input-group-prepend">
                                      <span class="input-group-text" id="inputGroup-sizing-lg">End date</span>
                                   </div>
                                   <input type="text" name="endDate" class="form-control" id="ed_endtimedate" aria-label="Large" aria-describedby="inputGroup-sizing-lg" style="height: 100%; font-size: 1.5rem" width="50%"  required/>
                                   <script>
                                      $('#ed_endtimedate').datepicker({
                                          uiLibrary: 'bootstrap4'
                                      });
                                   </script>
                                </div>
                             </td>
                          </tr>
                       </table>
                    </li>
                    <li id="submitButton">
                        <input type="submit" inclick="verify()" class="btn-lg btn-success" style="font-size: 2rem" value="Crear">
                    </li>
                 </form>
                 <li id="goBackButton">
                    <form action="/pricelists" method="GET" required>
                       <button class="btn btn-default" style="font-size: 1.5rem">
                       Volver a listas de precios
                       </button>
                    </form>
                 </li>
              </ul>
           </td>
        </tr>
     </table>
{% endblock %}