{% extends "base_forms.html" %}
{% block content %}
        <h1 align='center'>Nuevo precio para: {{ priceList }} </h1>
        <table width="50%" align="center">
        <tr><td>
        <ul class="listForm" align="center">
            <form action="/pricelists/detail/new/" method="POST">
                {% csrf_token %}
                <li>
                    <div class="input-group mb-3 input-group-lg">
                            <div class="input-group-prepend input-group-lg">
                              <label class="input-group-text" for="inputGroupSelect01">Resource type</label>
                            </div>
                            <select name="resourceType" class="custom-select custom-select-lg" style="font-size: 1.5rem" id="inputGroupSelect01" required>
                            {% for r in resourceTypes %}
                                <option value= {{ r.id }}>{{ r }}</option>
                            {% endfor %}
                            </select>
                        </div>
                </li>
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Cost</span>
                            </div>
                            <input type="number" step="0.01" min="0.00" name="cost" value="0.00" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Sale sprint</span>
                            </div>
                            <input type="number" step="0.01" min="0.00" name="saleSprint" value="0.00" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <li>
                    <div class="input-group input-group-lg">
                            <div class="input-group-prepend">
                              <span class="input-group-text" id="inputGroup-sizing-lg">Sale hour</span>
                            </div>
                            <input type="number" step="0.01" min="0.00" name="saleHour" value="0.00" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm" required>
                    </div>
                </li>
                <input type="hidden" name="priceList" value="{{ priceList.id }}">
                <li id="submitButton">
                    <input type="submit" class="btn-lg btn-success" style="font-size: 2rem" value="Añadir">
                </li>
            </form>
            <li id="goBackButton">
                <form action="/pricelists/detail/" method="POST">
                    {% csrf_token %}
                    <button name="priceList" value="{{ priceList.id }}" class="btn btn-default" style="font-size: 1.5rem">
                        Volver a la lista de precios
                    </button>
                </form>    
            </li>
        </ul>
        </td></tr>
        </table>
{% endblock %}