{% extends "base.html" %}
{% block content %}
        <h1 align="center">{{ priceList }}</h1>
        <table align="center" style="min-width: 40%;" class="table table-hover">
            <thead>
            <tr>
                <th>Resource type</th>
                <th>Cost</th>
                <th>Sale sprint</th>
                <th>Sale hour</th>
                <th class="buttonCell">
                    <form action="/pricelists/detail/new/" method="POST">
                        {% csrf_token %}
                        <button class="icon" name='priceList' value='{{ priceList.id }}'><span title="Nuevo precio" class="glyphicon glyphicon-plus"></span></button>
                    </form>
                </th>
            </tr>
            </thead>
            <tbody>
        {% for pld in priceListDetails %}
            <tr>
                <td>{{ pld.getResourceType }}</td>
                <td>$ {{ pld.getCost }}</td>
                <td>$ {{ pld.getSaleSprint }}</td>
                <td>$ {{ pld.getSaleHour }}</td>
                <td class="buttonCell">
                    <form action="/pricelists/detail/modificar/" method="POST">
                        {% csrf_token %}
                        <button class="icon" name="priceListDetail" value="{{ pld.id }}"><span title="Modificar" class="glyphicon glyphicon-pencil"></span></button>
                    </form>
                </td>
            </tr>    
        {% endfor %}
            </tbody>
        </table>
{% endblock %}