{% extends "base.html" %}
{% block content %}
        <h1 align='center'>Listas de precios</h1>
        {% if priceLists%}
        <table  align="center" cellpadding="2" style="min-width: 50%;" class="table table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Currency</th>
                <th>Init date</th>
                <th>End date</th>
                <th class="buttonCell" width="15%">
                    <form action="/pricelists/new" method="GET">
						<button class="icon"><span title="Nueva lista de precios" class="glyphicon glyphicon-plus"></span></button>
					</form>
                </th>
            </tr>
            </thead>
            <tbody>
            {% for pl in priceLists %}
            <tr>
                <td>{{ pl.getName }}</td>
                <td>{{ pl.getCurrency.getAcronym }}</td>
                <td>{{ pl.getStartDate }}</td>
                <td>{{ pl.getEndDate }}</td>
                <td class="buttonCell">
                    <table align="center">
                        <td>
			    			<form action="/pricelists/modificar/" method="POST">
								{% csrf_token %}
    							<button class="icon" name="priceList" value="{{pl.id}}"><span title="Modificar" class="glyphicon glyphicon-pencil"></span></button>
							</form>
                        </td>
                        <td>
                            <form action="/pricelists/detail/" method="POST">
                                {% csrf_token %}
                                <button class="icon" name="priceList" value="{{pl.id}}"><span title="Ver precios" class="glyphicon glyphicon-list"></span></button>
                            </form>
                        </td>
                    </table>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h2>No hay listas de precios para mostrar.</h2>
        {% endif %}
{% endblock %}