{% extends "base.html" %}
{% block content %}
			<h1 align="center">Labor breakdown for project: {{ project }}</h1>

			<table align="center" class="table table-hover" cellpadding="2" width="80%">
				<thead>
				<tr>
					<th>Resource type</th>
					<th>Person</th>
					<th>Hours</th>
					<th>$/hr.</th>
					<th>Total (ARS)</th>
					<th class="buttonCell">
						<form action="/nuevo_laborbreakdown/" method="POST">
							{% csrf_token %}
							<button class="icon" name="project" value="{{ project.id }}"><span title="Nuevo elemento" class="glyphicon glyphicon-plus"></span></button>
						</form>
					</th>
				</tr>
				</thead>
				<tbody>
				{% for i,p in lb %}
				<tr>
					<td>{{ i.resource.getResourceType }}</td>
					<td>{{ i.resource.getPerson }}</td>
					<td>{{ i.getHoursWorked }}</td>
					<td>{{ p }}</td>
					<td>{{ i.calculateFinalCostARS }}</td>
					<td>
						<table align="center">
							<tr>
								<td>
									<form action="/project_detail/" method="POST">
										{% csrf_token %}
										<input type="hidden" name="project" value="{{ project.id }}">
										<button name="delete" value="{{ i.id }}" class="icon"><span title="Eliminar" class="glyphicon glyphicon-trash"></span></button>
									</form>
								</td>
							</tr>
						</table>
					</td>

				</tr>
				{% endfor %}
				</tbody>
			</table>
{% endblock %}