{% extends "base.html" %}
{% block content %}
		<h1  align="center">Proyectos</h1>
		<table align="center">
			<tr>
				<td>
			<h4>Año:</h4>
				</td>
				<td>
			<form action="/projects/" method="POST">
				{% csrf_token %}
				<select name="year" onchange="this.form.submit()">
                	{% for y in years %}
                    	{% if y == year %}
                    	<option value= {{ y }} selected>{{ y }}</option>
                    	{% else %}
                    	<option value= {{ y }}>{{ y }}</option>
                    	{% endif %}
                	{% endfor %}
				</select>
			</form>
				</td>
			</tr>
		</table>

			<table border="0" align="center" cellpadding="0px" width="100%" style="border-bottom: 0;">
				<tr>
					<th style="width: 15%;">Name</th>
					<th>Company</th>
					<th>Client</th>
					<th>Deal date</th>
					<td rowspan="{{ rowspan }}" style="width: 40%;" valign="top">
									<div style="width:100%; height:100%; overflow:auto;">
									<table width="275%" cellspacing="3px" cellpadding="3px" border="0">
										<tr  style="border-top: 0px;">
											<th style="border-top: 0px;" width="15%">Price list</th>
											<th style="border-top: 0px;">Currency</th>
											<th style="border-top: 0px;">Cost (ARS)</th>
											<th style="border-top: 0px;">Exchange rate</th>
											<th style="border-top: 0px;">Sales price</th>
											<th style="border-top: 0px;">Collected</th>
											<th style="border-top: 0px;">Pending</th>
											<th style="border-top: 0px;">TDC (ARS)</th>
											<th style="border-top: 0px;">Taxes (ARS)</th>
											<th style="border-top: 0px;" width="10%">USD-ARS settlement</th>
											<th style="border-top: 0px;">Projected profit</th>
											<th style="border-top: 0px;">Net profit</th>
										</tr>
										
										{% for p, c in projectsData %}
										<tr>
											<td width="15%">{{ p.priceList }}</td>
											<td>{{ p.getPriceList.getCurrency }}</td>
											<td>{{ p.calculateCostARS|floatformat }}</td>
											<td>{{ p.exchangeRate }}</td>
											<td>{{ p.salesPrice  }}</td>
											<td>{{ c }}</td>
											<td>{{ p.calculatePending|floatformat }}</td>
											<td>{{ p.calculateCostARS|floatformat }}</td>
											<td>{{ p.calculateTaxes|floatformat }}</td>
											<td width="10%">{{ p.calculateSettlement|floatformat }}</td>
											<td>{{ p.calculateProjectedProfit|floatformat }}</td>
											<td>{{ p.calculateNetProfit|floatformat }}</td>
										</tr>
										{% endfor %}
									</table>
									</div>
					</td>
					<th class="buttonCell" style="width: 10%;">
						<form action="/nuevo_proyecto/" method="GET">
							<button class="icon"><span title="Nuevo proyecto" class="glyphicon glyphicon-plus"></span></button>
						</form>
					</th>
				</tr>
				{% for p, c in projectsData %}
				<tr width="100%">
					<td style="width: 15%;">{{ p.name }}</td>
					<td>{{ p.company }}</td>
					<td>{{ p.client }}</td>
					<td>{{ p.dealDate }}</td>
					<td class="buttonCell" style="width: 10%;" style="border-left: 1px;">
						<table align="center">
							<tr>
								<td>
									<form action="/modificar_proyecto/" method="POST">
										{% csrf_token %}
										<button class="icon" name="project" value="{{p.id}}"><span title="Modificar" class="glyphicon glyphicon-pencil"></span></button>
									</form>
								</td>
								<td>
									<form action="/collections/" method="POST">
										{% csrf_token %}
										<button name="project" value="{{p.id}}" class="icon"><span title="Colecciones" class="glyphicon glyphicon-duplicate"></span></button>
									</form>
								</td>
								<td>
									<form action="/project_detail/" method="POST">
										{% csrf_token %}
										<button name="project" value="{{p.id}}" class="icon"><span title="Labor breakdown" class="glyphicon glyphicon-hourglass"></span></button>
									</form>
								</td>
							</tr>
						</table>
					</td>

				</tr>
				{% endfor %}
				<tr class="no_border_bottom" border="0"><td colspan="4" style="color: #FFFFFF;">-</td><td style="color: #FFFFFF;">-</td></tr>
			</table>
{% endblock %}