{% extends "base.html" %}
{% block content %}
    <h1 align="center">Summary</h1>
    <table align="center">
        <tr>
            <td>
        <h4>Año:</h4>
            </td>
            <td>
        <form action="/summary/" method="POST">
            {% csrf_token %}
            <select name="year" onchange="this.form.submit()">
                {% for y in years %}
                    {% if y == year %}
                    <option value= {{ y }} selected>{{ y }}</option>
                    {% else %}
                    <option value= {{ y }}>{{ y }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </form>
            </td>
        </tr>
    </table>
    <br>
    <table padding="10px" width="75%" align="center">
        <tr>
            <td>
                <table align="center" style="min-width: 60%;" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Annual gross sales</th>
                        <th>Total cost</th>
                        <th>Net profit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ annualGrossSales|floatformat }}</td>
                        <td>{{ totalCost|floatformat }}</td>
                        <td>{{ netProfit|floatformat }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <td align="center">
                <table class="table table-hover" style="min-width: 35%;" align="center">
                    <thead>
                    <tr>
                        <th style="background-color: #aaaaaa" colspan="3">Collections</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>USD</th>
                        <th>ARS</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Collected</th>
                        <td>{{ collectedUSD|floatformat }}</td>
                        <td>{{ collectedARS|floatformat }}</td>
                    </tr>
                    <tr>
                        <th>Pending</th>
                        <td>{{ pendingUSD|floatformat }}</td>
                        <td>{{ pendingARS|floatformat }}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
    <br>
    <br>
    <table class="table table-hover" align="center" style="min-width: 75%;">
        <thead>
        <tr style="margin-left:3px">
            <th>Client</th>
            <th>Currency</th>
            <th>G. sale</th>
            <th>G. sale (ARS)</th>
            <th>Cost (ARS)</th>
            <th>Collected</th>
            <th>Pending</th>
            <th>Proj. profit</th>
            <th>Net profit</th>
        </tr>
        </thead>
        <tbody>
        {% for r in rows %}
        <tr>
            <td>{{ r.client }}</td>
            <td>{{ r.currency }}</td>
            <td>{{ r.grossSale|floatformat }}</td>
            <td>{{ r.grossSaleARS|floatformat }}</td>
            <td>{{ r.costARS|floatformat }}</td>
            <td>{{ r.collected|floatformat }}</td>
            <td>{{ r.pending|floatformat }}</td>
            <td>{{ r.projectedProfit|floatformat }}</td>
            <td>{{ r.netProfit|floatformat }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}