<html>
    <head>
        <title>Iniciar sesión</title>
    </head>
    <body align="center">
        <h2>Iniciar sesión</h2>
        <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Aceptar</button>
        </form>
    </body>
</html>