<html>
	<head>
		<title>Projects list</title>
		<style>
			.tableButton {height: 100%; width: 100%;}
		</style>
	</head>
	<body>
		<h1  align="center">Proyectos</h1>
			<table border="1" align="center" cellpadding="2">
				<tr>
					<th>PID</th>
					<th>Name</th>
					<th>Company</th>
					<th>Client</th>
					<th>Deal date</th>
					<th>Price list</th>
					<th>Currency</th>
					<th>Exchange rate</th>
					<th>Sales price</th>
					<th>Collected</th>
					<th>Pending</th>
					<th>Taxes (ARS)</th>
					<th>USD-ARS settlement</th>
					<th>
						<form action="/nuevo_proyecto/" method="GET">
							<button class="tableButton"><b>Nuevo proyecto</b></button>
						</form>
					</th>
				</tr>
				{% for p, c in projectsData %}
				<tr>
					<td>{{ p.id }}</td>
					<td>{{ p.name }}</td>
					<td>{{ p.company }}</td>
					<td>{{ p.client }}</td>
					<td>{{ p.dealDate }}</td>
					<td>{{ p.priceList }}</td>
					<td>{{ p.priceList.currency }}</td>
					<td>{{ p.exchangeRate }}</td>
					<td>{{ p.salesPrice  }}</td>
					<td>{{ c }}</td>
					<td>{{ p.calculatePending }}</td>
					<td>{{ p.calculateTaxes }}</td>
					<td>{{ p.calculateSettlement }}</td>
					<td>
						<form action="/modificar_proyecto/{{ p.id }}/" method="GET">
							<button class="tableButton">Modificar</button>
						</form>
					</td>

				</tr>
				{% endfor %}
			</table>
			<h2  align="center">Currencies</h2>
			<table border="1"  align="center" cellpadding="2">
				<tr>
					<th>Name</th>
					<th>Acronym</th>
					<th>Rate USD</th>
				</tr>
				{% for i in currencies %}
				<tr>
					<td>{{ i.name }}</td>
					<td>{{ i.acronym }}</td>
					<td>{{ i.rate }}</td>
				</tr>
				{% endfor %}
			</table>
		<aside float='left'>
			<form action="/" method="GET">
                <button>
                    <h2>Inicio</h2>
                </button>
            </form>
		</aside>
	</body>
</html>